@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Dosis|Indie+Flower|Open+Sans+Condensed:300');
/*font-family: 'Amatic SC', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Anton', sans-serif;*/


header {

	background-color: rgb(0,0,0);
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	
}

body {
	/*background-color: #FFC51F; original background colour*/
	background-color: #F7F6F4;
	margin: 0 auto;
	padding: 0;
	min-height: 100%;

}

img {
	margin: 0.5em;
	padding: none;
	height: auto;
	max-width: 100%;
	float: left;	
}

h3 {

	font-family: "Amatic SC", cursive;
	font-size: 30px; 
	padding: 1em 1em 0 1em;
	margin: 0;
	margin-top: 10px;
	border: 0;
}

#logotext {

	color: #fff;
	margin: 0;
	margin-top: 25px;
	padding: 0;
	padding-left: 10px;
	border: 0;
	float: left;
	position: relative;
	font-family: Dosis, Helvetica, sans-serif;
	font-variant: small-caps;
	font-weight: normal;
	font-size: 30px;
	letter-spacing: 0.3em;

}

#giantq {

	font-family: Dosis, Helvetica, sans-serif;
	font-size: 100px;
	color: #fff;
	margin: 0;
	padding-top: 18px;
	padding-bottom: 0;
	padding-left: 5px;
	padding-right: 0;
	border: 0;
	float: left;
	position: relative;

}


nav {

	text-align: center;
	margin: 0;
	font-size: 30px;
	padding: 20px 20px 20px 120px;
	/*padding here is responsible for tall nav but hover is broken */
	background: #fff;
	color: #000;
	
}

a {
	font-family: Arial, sans-serif;
	font-variant: small-caps;
	text-decoration: none;
	font-weight: normal;
	
	letter-spacing: 0.1em;
	color: #000;
	border-right: 1px solid #000;
	padding-right:19px;
	padding-left: 19px;
	float: left;
	margin: 0;
	display: inline-block;

}

#home_nav {

	border-left: 1px solid #000;
}

#contact_nav {

	border-right: 1px solid #000;
}

#aboutus_nav {

	color: #000; 
	background-color: #FFC51F;
}

.border_nav {

	/*border-bottom: 2px solid #000*/


}

#home_nav:hover {

	color: #23A000;
	background-color: #FAEDF4;
	/*padding-bottom: 6px;
	padding-top: 4px; ask how to do the create the hover style as desired*/

}

a:hover {

	color: #fff; 
	background-color: #000;
	/*each nav element to have their own hover state, this is placeholder*/
	
}

ul, p {

	font-family: "Amatic SC", cursive;
	font-size: 25px;
	line-height: 1.5em;
	padding: 2em;
	padding-top: .3em;
	padding-bottom: .3em;
	font-weight: normal;

}

main {
	
	
	width: 1440px;
	margin: 0 auto;
	display: table-cell;
}

p {
	margin-top: 1px;
}

ul {
	padding-top: 0;
}

li {

	padding-bottom: 10px;
	padding-top: 0;
	list-style: none;

}

hr {
	   display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 60%;
       max-height: 0;
       border: none;
       border-top: 1px solid #000;
       
}

section, aside{

	
}

#statement1 {

	float: left;
	background-color: #fff;
	width: 500px;
	height: 100%;
	margin: 100px;
	/*border: 2px solid black;*/
	padding-top: 50px;
	padding-bottom: 50px;
	display: table;

}

#ghost_div {
	
	float: left;
	display: table;	
}

#pinvolv {

	float: left;
	background-color: #fff;
	width: 500px;
	margin: 100px;
	height: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	display: table;
	
}

aside {
	/*border: 2px solid black;*/

}

footer {

	text-align: right;
	clear: both;
	padding: 1em;
	font-family: Arial;
	font-size: 13px;
	background-color: #fff;
	border-top: 1px solid black;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

@media only screen and (max-width: 1400px;) {

	#statement1 {

		width: 80%;
	}
	#pinvolv {
		width: 80%;
	}
}

/*#stars {

	margin: 2em;
	border: thin;
	color: rgba(255,242,244 .5);
}