@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Dosis|Indie+Flower|Open+Sans+Condensed:300');
/*font-family: 'Amatic SC', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Anton', sans-serif;*/

body {
	background-color: #F7F6F4;
	margin: 0 auto;
	padding: 0;
	height: auto;
	width: 1024px;

}

header {

	background-color: rgb(0,0,0);
	width: 1024px;
	max-width: 100%;

}

img {
	margin: 0.5em;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	height: auto;
	max-width: 100%;
	float: left;	
}


h1 {

	font-family: Dosis, Helvetica, sans-serif;
	font-weight: normal;
	padding: 0.1em;
	margin-top: .5em;
	font-size: 200%;
	font-stretch: expanded;
	font-weight: bold;
	line-height: 1.3em;
	float: left;

}

#logotext {

	color: #fff;
	margin: 0;
	font-size: 10px;
	margin-top: 2em;
	padding: 0;
	padding-left: .3em;
	border: 0;
	float: left;
	font-family: Dosis, Helvetica, sans-serif;
	font-variant: small-caps;
	font-weight: normal;
	letter-spacing: 0.3em;

}

#giantq {

	font-size: 65px;
	margin: 0;
	padding: .12em 0 0 .08em; 
	border: 0;
	float: left;
	
}

h2 {

	font-family: Dosis, Helvetica, sans-serif;
	color: #fff;
	padding: 0;
	margin: 0;
	border: 0;
}


/*article {

		font-family: 'Dosis', sans-serif;
		font-weight: bold;
		line-height: 1.5em;
		padding: 30px;
		width: 200px;
		background-color: #fff;
		margin: 30px;
		float: left;
		display: table;

}*/

#nav_wrapper {


}

nav {

	font-size: 25px;
	text-align: center;
	padding: 0.5em 0.8em 0.5em 2.2em;
	/*padding here is responsible for tall nav but hover is broken */
	background: #fff;
	color: #000;
	
}

.nav_anchor {
	
	font-family: Arial, sans-serif;
	font-variant: small-caps;
	text-decoration: none;
	font-weight: normal;
	letter-spacing: 0.1em;
	color: #000;
	border: 0;
	border-right: 1px solid #000;
	/*padding-right:13px;
	padding-left: 23px;*/
	padding: 0em 0.4em 0em 0.4em;
	float: left;
	margin: 0;
	display: inline-block;
}

#home_nav {

	border-left: 1px solid #000;
	color: #000; 
	background-color: #FFC51F;

}

/*#home_nav:before {
    display: none;
}
#home_nav:after {
    content: " ";
    border: 1px solid black;
    display: block;
    max-width: 100px;
} An idea for an underline under nav page that user is currently on*/

#contact_nav {

	border-right: 1px solid #000;
}

.nav_anchor:hover {

	color: #fff; 
	background-color: #000;
	/*each nav element to have their own hover state, this is placeholder*/
	
}

main {

	font-family: "Amatic SC", cursive;
	font-size: 45px;
	letter-spacing: 0.3em;
	border: 0;
	margin: 0 auto;
	
	

}

ul {

	list-style-type: none;
	padding: 0;
	margin: auto;

}

li {
	float: left;
	width: 25%;
	max-width: 25%;
	margin: 0.22em;
	margin-top: 0.89em;
	padding: 55px 0px 55px 0px;
	border: 0;
	background-color: #fff;
	text-align: center;

}

a {
	text-decoration: none;
	color: #000;
}

p {
	padding-top: 15px;
	padding-bottom: 15px;
}

#mission {
	font-size: 14px;
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	line-height: 1.5em;
	letter-spacing: 0.2em;
	padding: 45px 10px 45px 10px;
	margin: 0;
}

.form5 {


	}

.ghost {

	visibility: hidden;
}

#ghost2 {
	clear: both;
	
}

#moon {
	clear: both;
	margin-top: 10px;
	margin-bottom: 50px;
}

#ghost4 {
	margin-top: 10px;
	margin-bottom: 50px;
	
}

#asteroids {
	margin-top: 10px;
	margin-bottom: 50px;
}


span {

	font-family: "Indie Flower", cursive;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 30px;
	letter-spacing: .25em;
}

hr {
	   display: block;
       position: relative;
       padding: 0;
       margin: 0 auto;
       height: 0;
       width: 60%;
       max-height: 0;
       border: none;
       border-top: 1px solid #000;
       
}

footer {

	text-align: right;
	clear: both;
	padding: 1em;
	margin: 0;
	font-family: Arial;
	font-size: 13px;
	background-color: #fff;
	/*border-top: 1px solid black;*/
	display: block;
	color: #000;
	height: 100%;

}

#footer_links {
	text-align: left;
	float: left;
	letter-spacing: 2px;

}

#footer_right {
	float: right;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/*#stars {

	margin: 2em;
	border: thin;
	color: rgba(255,242,244 .5);
}*/