@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Dosis|Indie+Flower|Open+Sans+Condensed:300');
/*font-family: 'Amatic SC', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Anton', sans-serif;*/

body {
	background-color: #F7F6F4;
	margin: 0 auto;
	padding: 0;
	height: auto;
	width: 1024px;

}

header {

	background-color: rgb(0,0,0);
	width: 1024px;
	max-width: 100%;

}

img {
	margin: 0.5em;
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	height: auto;
	max-width: 100%;
	float: left;	
}


h1 {

	font-family: Dosis, Helvetica, sans-serif;
	font-weight: normal;
	padding: 0.1em;
	margin-top: .5em;
	font-size: 200%;
	font-stretch: expanded;
	font-weight: bold;
	line-height: 1.3em;
	float: left;

}

#logotext {

	color: #fff;
	margin: 0;
	font-size: 10px;
	margin-top: 2em;
	padding: 0;
	padding-left: .3em;
	border: 0;
	float: left;
	font-family: Dosis, Helvetica, sans-serif;
	font-variant: small-caps;
	font-weight: normal;
	letter-spacing: 0.3em;

}

#giantq {

	font-size: 65px;
	margin: 0;
	padding: .12em 0 0 .08em; 
	border: 0;
	float: left;
	
}

h2 {

	font-family: Dosis, Helvetica, sans-serif;
	color: #fff;
	padding: 0;
	margin: 0;
	border: 0;
}


/*article {

		font-family: 'Dosis', sans-serif;
		font-weight: bold;
		line-height: 1.5em;
		padding: 30px;
		width: 200px;
		background-color: #fff;
		margin: 30px;
		float: left;
		display: table;

}*/

#nav_wrapper {
	
	margin: 0 auto;

}

nav {

	font-size: 25px;
	text-align: center;
	padding: 0.5em .8em .5em .8em;
/*	padding: 0.5em 0.8em 0.5em 2.2em;*/
	/*padding here is was used to center nav before float left in nav_anchor was removed */
	background: #fff;
	color: #000;

}

.nav_container {
	width: 100%;
	margin: 0 auto;
}

.nav_anchor {
	
	font-family: Arial, sans-serif;
	font-variant: small-caps;
	text-decoration: none;
	font-weight: normal;
	letter-spacing: 0.1em;
	color: #000;
	border: 0;
	border-right: 1px solid #000;
	/*padding-right:13px;
	padding-left: 23px;*/
	padding: 0em 0.4em 0em 0.4em;
	/*float: left;*/
	margin: 0;
	display: inline-block;
}

#home_nav {

	border-left: 1px solid #000;
	color: #000; 
	/*background-color: #25BA00; potential new colour*/
	background-color: #FFC51F;

}

/*#home_nav:before {
    display: none;
}
#home_nav:after {
    content: " ";
    border: 1px solid black;
    display: block;
    max-width: 100px;
} An idea for an underline under nav page that user is currently on*/

#contact_nav {

	border-right: 1px solid #000;
}

.nav_anchor:hover {

	color: #fff; 
	background-color: #000;
	/*each nav element to have their own hover state, this is placeholder*/
	
}

main {

	font-family: "Amatic SC", cursive;
	font-size: 45px;
	letter-spacing: 0.2em;
	margin: 3% auto;
	text-align: center;
}

.mcontainer {
	display: inline-block;
	width: 25%;
	min-height: 200px;
	border: 0;
	background-color: #fff;
	text-align: center;
	vertical-align: top;
	position: relative;
	margin: 15px;
	
}

a {
	text-decoration: none;
	color: #000;
}
p {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#stars {
	background-image: url('../images/flat_space.jpg');
	background-position: 13% 31%;
	background-size: 600px;
}

#planets {
	background-image: url('../images/flat_space.jpg');
	background-position: middle right;
	background-size: 600px;
}
#moon {
	background-image: url('../images/flat_space.jpg');
	background-position: bottom;
	background-size: 500px;
}
#asteroids {
	background-image: url('../images/flat_space.jpg');
	background-position: 23% 42%;
	background-size: 600px;
}

#mission {
	font-size: 14px;
	font-family: 'Dosis', sans-serif;
	font-weight: bold;
	line-height: 1.5em;
	letter-spacing: 0.1em;
	padding: .8em;
	/*width: 34%;*/
	/*padding-top: 30px;*/
	
}

.missionTextContainer{
	margin: 0;
	padding: .94em 0 .71em 0;
	color: #000;
	background: #F7F6F4;
	/*position: absolute;
	top: 50%;
	left: 50%;*/
	/*transform: translate(-50%, -30%);	*/
}

#mission p {
	padding: 0;
	position: relative;
	transform: none;
	top: 0;
	text-align: center;
	left: 0;
}

.form5 {
	color: white;
	border-radius: 0.22em;
}
.form4 {

}

.form4:hover {
        -webkit-transform: scale(0.97);
        -ms-transform: scale(0.97);
        transform: scale(0.97);
}

.ghost {
	visibility: hidden;
	width: 22%
}

span {

	font-family: "Indie Flower", cursive;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 30px;
	letter-spacing: .25em;
}

.line_top {
	width: 50%;
	border: none;
	margin: 1.14em auto;
	border-top: 0.07em solid #000;
	padding-bottom: 0.57em;
}

.line_bottom {
	width: 50%;
	border: none;
	margin: 1.14em auto;
	border-bottom: 0.07em solid #000;
	padding-top: 0.57em;
}
/*.line_bottom {
	width: 50%;
	border: none;
	margin: 16px auto;
	border-bottom: 1px solid #000;
	padding-top: 10px;
}*/

footer {
	text-align: right;
	clear: both;
	padding: 1em;
	margin: 0;
	font-family: Arial;
	font-size: 13px;
	background-color: #fff;
	/*border-top: 1px solid black;*/
	display: block;
	color: #000;
	right: 0;
  	bottom: 0;
	left: 0;
	margin: auto;
}

#footer_links {
	text-align: left;
	float: left;
	letter-spacing: 2px;

}

#footer_right {
	float: right;
}

#f_faq, #f_au, #f_c {

	padding: .5em;
	border: 2px solid black;
}
#f_faq:hover, #f_au:hover, #f_c:hover {

	color: white;
	background-color: black;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

@media only screen and (max-width: 966px) {
	
	header {
		height: auto;
	}
	img {
		width: 8%;
	}
	h1, h2 {
		
		font-size: 1.5em;
	}
	#giantq {
		font-size: 3em;
		padding-top: 10px;
	}

	body {
		margin: 0 auto;
		width: 100%;
	}
	main {
		font-size: 20px;
		
	}
	#nav_wrapper {
		margin: 0 auto;
	}
	nav {
		/*padding-left: 118px;*/
	
	}
	.nav_anchor {
		font-size: .8em;
	}

	.ghost {
		display: none;
	}
	.form5 {
		top: 100px;
		bottom: 80px;
		width: 12%;
	}

	#stars {
		background-position: 15% 37%;
	}
	#asteroids {
		background-position: 23% 39%;
	}
	#mission {
		bottom: 30px;
		width: 20%;
		margin: 0;
	}
	.line_top {
		padding-bottom: 0.25em;
	}
	footer {
		position: absolute;
  		right: 0;
  		bottom: 0;
  		left: 0;
	}
}

/*#stars {

	margin: 2em;
	border: thin;
	color: rgba(255,242,244 .5);
}*/