@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Anton|Dosis|Indie+Flower|Open+Sans+Condensed:300');
/*font-family: 'Amatic SC', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Anton', sans-serif;*/

#wrapper {

	background-color: #F7F6F4;
	margin: 0 auto;
	padding: 0;
	min-height: 100%;

}

header {

	background-color: rgb(0,0,0);
	padding-left: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border: 2px solid red;
}

img {
	margin: 0.5em;
	padding: none;
	height: auto;
	max-width: 100%;
	float: left;	
}


h1 {

	font-family: Dosis, Helvetica, sans-serif;
	font-weight: normal;
	padding: 0.1em;
	margin-top: .5em;
	font-size: 200%;
	font-stretch: expanded;
	font-weight: bold;
	line-height: 1.3em;
	float: left;

}

#logotext {

	color: #fff;
	margin: 0;
	margin-top: 45px;
	padding: 0;
	padding-left: 10px;
	border: 0;
	float: left;
	font-family: Dosis, Helvetica, sans-serif;
	font-variant: small-caps;
	font-weight: normal;
	font-size: 30px;
	letter-spacing: 0.3em;

}

#giantq {

	font-family: Dosis, Helvetica, sans-serif;
	font-size: 100px;
	color: #fff;
	margin: 0;
	padding-top: 18px;
	padding-bottom: 0;
	padding-left: 5px;
	padding-right: 0;
	border: 0;
	float: left;
	
}

main {

	margin: 0 auto;
	display: table-cell;
}

section {
	font-size: 16px;
}

article {

		font-family: 'Dosis', sans-serif;
		font-weight: bold;
		line-height: 1.5em;
		padding: 30px;
		width: 200px;
		background-color: #fff;
		margin: 30px;
		float: left;
		display: table;

}

span {

	font-family: "Indie Flower", cursive;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 30px;
	letter-spacing: .25em;
}

hr {
	   display: block;
       position: relative;
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 60%;
       max-height: 0;
       border: none;
       border-top: 1px solid #000;
       
}

nav {

	text-align: center;
	margin: 0 auto;
	padding: 20px 20px 20px 120px;
	/*padding here is responsible for tall nav but hover is broken */
	background: #fff;
	color: #000;
	
}

.nav_anchor {
	
	font-family: Arial, sans-serif;
	font-variant: small-caps;
	text-decoration: none;
	font-weight: normal;
	font-size: 30px;
	letter-spacing: 0.1em;
	color: #000;
	border-right: 1px solid #000;
	padding-right:19px;
	padding-left: 19px;
	float: left;
	margin: 0;
	display: inline-block;
}

/*either attempt to change main anchor selector one at a time or have all main nav's individual ID's
added to CSS*/

#home_nav {

	border-left: 1px solid #000;
	color: #000; 
	background-color: #FFC51F;
}

#contact_nav {

	border-right: 1px solid #000;
}

.nav_anchor:hover {

	color: #fff; 
	background-color: #000;
	/*each nav element to have their own hover state, this is placeholder*/
	
}

/*nav a {

	text-decoration: none;
	color: #000;
	display: inline-block;

}*/

#hp_nav {

	font-family: "Amatic SC", cursive;
	font-size: 55px;
	letter-spacing: 0.3em;
	border: 0;
	width: 960px;

}

a {
	text-decoration: none;
	
}

ul {

	list-style-type: none;
	margin: 0;
	padding: 0;

}

li {



}

/*#moon {

	clear: both;
}

#asteroids {

	clear: both;
}*/

aside {

	float: right;
	clear: both;

}

footer {

	text-align: right;
	clear: both;
	padding: 1em;
	font-family: Arial;
	font-size: 13px;
	background-color: #fff;
	/*border-top: 1px solid black;*/
}
.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

/*#stars {

	margin: 2em;
	border: thin;
	color: rgba(255,242,244 .5);
}*/